<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eats">
        <activity
            android:name=".EditUser"
            android:exported="true"
            android:label="@string/title_activity_edit_user"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".CarritoActivity"
            android:exported="true"
            android:label="@string/title_activity_carrito"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".RestauranteInfo"
            android:exported="true"
            android:label="@string/title_activity_restaurante_info"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".HistorialActivity"
            android:exported="true"
            android:label="@string/title_activity_historial"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="true"
            android:label="@string/title_activity_user_info"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".TarjetaActivity"
            android:exported="true"
            android:label="@string/title_activity_tarjeta"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Eats.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Eats.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>